.container498,
.svgexport-7-7svg-icon3 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgexport-7-7svg-icon3 {
  position: relative;
}
.container498 {
  border-radius: var(--br-231xl);
  flex-direction: column;
  justify-content: center;
}
.cofe3,
.container498,
.link36 {
  display: flex;
  align-items: flex-start;
}
.link36 {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
}
.cofe3 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
}
.ice-cafe5 {
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.container500,
.container501 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.container501 {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 103.91000366210938px;
}
.container500 {
  flex-direction: row;
  justify-content: center;
}
.link37 {
  flex-direction: row;
  justify-content: flex-start;
}
.container497,
.container499,
.link37 {
  display: flex;
  align-items: flex-start;
}
.container499 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xl-5) 0;
}
.container497 {
  flex-direction: row;
  justify-content: flex-start;
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.div158 {
  position: relative;
}
.home10,
.item21 {
  display: flex;
  justify-content: flex-start;
}
.home10 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.item21 {
  flex-direction: column;
  align-items: flex-start;
}
.container504 {
  width: 95px;
  height: 19px;
}
.container505 {
  width: 70px;
  height: 19px;
}
.list3 {
  height: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.container502,
.container503,
.margin95 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container502,
.margin95 {
  align-items: center;
  justify-content: flex-start;
}
.margin95 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--ice-cafe-black-70);
}
.container506 {
  width: 194px;
  height: 56px;
}
.margin96 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
}
.b6 {
  position: relative;
  text-transform: uppercase;
}
.zakazat6,
.zakazat7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zakazat7 {
  align-self: stretch;
  flex-direction: column;
}
.zakazat6 {
  border-radius: var(--br-231xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
}
.container496,
.div163 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div163 {
  justify-content: center;
  font-size: var(--ice-cafe-play-bold-15-upper-size);
  color: var(--ice-cafe-nero);
}
.container496 {
  align-self: stretch;
  justify-content: space-between;
}
.container495 {
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container494 {
  width: 1270px;
  align-items: center;
  padding: 0 var(--padding-141xl);
}
.container492,
.container493,
.container494 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container493 {
  width: 1500px;
  height: 158px;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  max-width: 1500px;
}
.container492 {
  width: 1390px;
  align-items: center;
  padding: 0 var(--padding-191xl);
  color: var(--ice-cafe-cod-gray);
}
.div165 {
  position: relative;
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.margin97,
.paragraph2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph2 {
  flex-direction: row;
  padding: 0 1297.7px 0 var(--padding-10xs);
  gap: var(--gap-7xs);
}
.margin97 {
  flex-direction: column;
  padding: 0 0 var(--padding-61xl);
}
.div166 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.heading-1margin2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  text-align: center;
  font-size: var(--ice-cafe-russo-one-regular-96-upper-size);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.div167 {
  position: relative;
  line-height: 24px;
}
.linkmargin1 {
  position: absolute;
  top: 8px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.fgs16-whatsapp-roundedsvg1 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.fgs16-whatsapp-roundedsvg-fil {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.fgs16-whatsapp-roundedsvg {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  max-width: 40px;
}
.container517 {
  width: 40px;
  border-radius: var(--br-7xs);
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 28px;
  max-width: 64px;
  min-height: 28px;
  max-height: 64px;
}
.container517,
.link43,
.margin100 {
  align-items: flex-start;
}
.link43 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.margin100 {
  flex-direction: column;
  padding: 0 var(--padding-9xs) var(--padding-5xs);
}
.container515,
.margin100,
.margin99 {
  display: flex;
  justify-content: flex-start;
}
.container515 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.margin99 {
  position: absolute;
  top: 0;
  left: 211.8px;
  flex-direction: column;
  align-items: flex-start;
}
.container514 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  font-size: var(--ice-cafe-play-bold-20-size);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.div168 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-height: 30.010000228881836px;
}
.container520,
.container521 {
  position: absolute;
  width: 100%;
  top: 60px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container521 {
  top: 110px;
}
.a {
  position: relative;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-height: 30.010000228881836px;
}
.container522 {
  position: absolute;
  width: 100%;
  top: 160px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.draqanovazina1984gmailcom3 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  max-height: 30.010000228881836px;
}
.container523,
.container524 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container523 {
  top: 210px;
  color: var(--color-royalblue);
}
.container524 {
  top: 260px;
}
.linkmargin2 {
  align-self: stretch;
  width: 60px;
  min-height: 60px;
}
.container525 {
  position: absolute;
  width: calc(100% + 10px);
  top: 304px;
  right: -5px;
  left: -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.container513 {
  align-self: stretch;
  position: relative;
  height: 364px;
}
.container512,
.margin98 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container512 {
  height: 460px;
  justify-content: flex-start;
}
.margin98 {
  width: 494.7px;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.gradient,
.mask-group-icon {
  position: absolute;
  margin: 0 !important;
}
.gradient {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -83.15deg,
    transparent 25%,
    #fff 30%,
    transparent 63%
  );
  z-index: 0;
}
.mask-group-icon {
  width: 12.54%;
  height: 26.09%;
  top: 36.96%;
  right: 43.74%;
  bottom: 36.96%;
  left: 43.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.image-icon8,
.image-icon9 {
  position: absolute;
  object-fit: cover;
}
.image-icon8 {
  top: -128px;
  left: -128px;
  width: 1213px;
  height: 716px;
  overflow: hidden;
}
.image-icon9 {
  top: 110px;
  left: 413.3px;
  width: 34px;
  height: 41px;
}
.backgroundshadow-icon {
  width: 28px;
  position: relative;
  border-radius: var(--br-10xs);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 90px;
}
.background19,
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  overflow: hidden;
}
.background19 {
  flex: 1;
  background-color: var(--ice-cafe-nero);
  padding: var(--padding-7xs) 2px 7px 11px;
}
.div172 {
  position: relative;
  line-height: 26px;
}
.background20 {
  align-self: stretch;
  border-radius: 0 var(--br-10xs) var(--br-10xs) 0;
  background-color: var(--ice-cafe-malachite);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-12xs) 13px;
}
.background20,
.container534,
.container535 {
  display: flex;
  align-items: flex-start;
}
.container535 {
  flex-direction: column;
  justify-content: center;
  margin-left: -2px;
  font-size: 12.4px;
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container534 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  z-index: 0;
}
.overlayshadow {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: calc(100% - 4px);
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  border-radius: 0 var(--br-10xs) var(--br-10xs) 0;
  background-color: var(--ice-cafe-nero-02);
  overflow: hidden;
  z-index: 1;
}
.container531,
.container533 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container533 {
  width: 315px;
  position: relative;
}
.container531 {
  width: 363px;
  height: 1px;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.image-icon10 {
  width: 26px;
  position: absolute;
  margin: 0 !important;
  top: 1px;
  left: 1px;
  height: 26px;
  z-index: 0;
}
.div173 {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.background21,
.container538,
.overlayshadow1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}
.container538 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-9xs);
  z-index: 1;
}
.background21,
.overlayshadow1 {
  border-radius: var(--br-10xs);
  flex-direction: row;
}
.background21 {
  background-color: var(--ice-cafe-nero);
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-12xs) var(--padding-12xs) 27px;
  position: relative;
}
.overlayshadow1 {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  background-color: var(--ice-cafe-nero-02);
  justify-content: flex-start;
}
.image-icon11 {
  width: 26px;
  position: relative;
  height: 26px;
  z-index: 0;
}
.div174 {
  position: relative;
  line-height: 26px;
  z-index: 1;
}
.image-icon12 {
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 5.5px);
  width: 11px;
  height: 6px;
  overflow: hidden;
}
.image,
.image-fill {
  width: 29px;
  position: absolute;
  top: 0;
  height: 28px;
}
.image-fill {
  left: 0;
  overflow: hidden;
}
.image {
  margin: 0 !important;
  right: -0.4px;
  z-index: 2;
}
.backgroundshadow,
.container539 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.backgroundshadow {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-10xs);
  background-color: var(--ice-cafe-nero);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-12xs) var(--padding-5xl) var(--padding-12xs)
    var(--padding-12xs);
  position: relative;
  gap: 4px;
}
.container539 {
  width: 87px;
  align-items: center;
  font-size: 12.6px;
}
.backgroundshadow-icon1 {
  width: 28px;
  position: relative;
  border-radius: var(--br-10xs);
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 28px;
}
.container530,
.container536 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container536 {
  width: 233.2px;
  height: 1px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: 12.1px;
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container530 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 957px;
  justify-content: center;
  gap: 360.8px;
}
.backgroundborder {
  top: -4px;
  left: -2px;
  border: 1px solid var(--ice-cafe-nero);
  width: 3px;
  height: 11px;
}
.backgroundborder,
.backgroundborder1,
.backgroundborder2 {
  position: absolute;
  background-color: var(--quantifiable-mosquitostaticdomains-black);
  box-sizing: border-box;
}
.backgroundborder1 {
  top: -4px;
  right: -2px;
  border: 1px solid var(--ice-cafe-nero);
  width: 3px;
  height: 11px;
}
.backgroundborder2 {
  width: calc(100% - 49.8px);
  top: 0;
  right: 49.8px;
  left: 0;
  border-top: 1px solid var(--ice-cafe-nero);
  border-bottom: 1px solid var(--ice-cafe-nero);
  height: 3px;
}
.div175 {
  position: relative;
  line-height: 15px;
}
.container545,
.overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.overlay {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--ice-cafe-nero-75);
  justify-content: center;
  padding: 0 var(--padding-9xs);
}
.container545 {
  position: absolute;
  top: -6px;
  left: 20.2px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.backgroundborder3 {
  position: absolute;
  width: calc(100% - 49.8px);
  top: 0;
  right: 0;
  left: 49.8px;
  background-color: var(--quantifiable-mosquitostaticdomains-black);
  border-top: 1px solid var(--ice-cafe-nero);
  border-bottom: 1px solid var(--ice-cafe-nero);
  box-sizing: border-box;
  height: 3px;
}
.container544 {
  position: absolute;
  top: 14px;
  left: 0;
  width: 70px;
  height: 15px;
}
.container546 {
  position: absolute;
  top: 0;
  left: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container543 {
  align-self: stretch;
  position: relative;
  height: 28px;
}
.container542 {
  position: absolute;
  right: 10px;
  bottom: 31px;
  width: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container541 {
  position: absolute;
  top: 460px;
  left: 0;
  width: 957px;
  height: 1px;
  font-size: var(--font-size-xs);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container-icon49 {
  width: 28px;
  position: relative;
  height: 206px;
}
.container547,
.container549 {
  position: absolute;
  top: 108px;
  left: 10px;
  width: 28px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container547 {
  display: none;
}
.container549 {
  display: flex;
}
.container529 {
  position: absolute;
  top: 0;
  left: 0;
  width: 957px;
  height: 1px;
}
.a1,
.div176 {
  position: relative;
  line-height: 14px;
}
.a1 {
  text-decoration: underline;
  color: inherit;
}
.container553,
.overlay1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.overlay1 {
  align-self: stretch;
  border-radius: var(--br-10xs);
  background-color: var(--ice-cafe-nero-75);
  flex-direction: row;
  padding: 0 var(--padding-9xs) var(--padding-12xs);
}
.container553 {
  position: absolute;
  top: 1px;
  left: 0;
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
}
.container552 {
  align-self: stretch;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.image-icon13 {
  width: 14px;
  position: relative;
  height: 18px;
}
.container557,
.margin103 {
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.margin103 {
  width: 26px;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-7xs);
  box-sizing: border-box;
}
.container557 {
  overflow: hidden;
  justify-content: flex-start;
}
.container556 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.backgroundshadow1,
.margin104 {
  display: flex;
  align-items: flex-start;
}
.margin104 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-7xs) 0 0;
}
.backgroundshadow1 {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-10xs);
  background-color: var(--ice-cafe-nero);
  height: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.image-icon14 {
  width: 18px;
  position: relative;
  height: 18px;
}
.margin105 {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-7xs);
  box-sizing: border-box;
}
.container554,
.link47 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.link47 {
  border-radius: var(--br-10xs);
  align-items: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-12xs);
}
.container554 {
  width: 394px;
  margin: 0 !important;
  height: 32px;
  align-items: center;
  padding: 0 var(--padding-5xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: 8px;
  z-index: 1;
}
.container528,
.container551,
.container554 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.container551 {
  width: 957px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 772.7px;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container528 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}
.background18 {
  width: 957px;
  position: relative;
  height: 460px;
  background-image: url(./public/background6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.container526,
.container527,
.margin102 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container527 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
}
.container526,
.margin102 {
  height: 460px;
}
.container526 {
  align-self: stretch;
  justify-content: center;
}
.margin102 {
  width: 989.3px;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  font-size: var(--ice-cafe-inter-regular-1219-size);
  color: var(--ice-cafe-boulder);
  font-family: var(--ice-cafe-inter-regular-1219);
}
.container510,
.container511 {
  width: 1484px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.container510 {
  align-items: center;
  justify-content: flex-start;
}
.container508,
.container509 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container509 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 var(--padding-77xl);
  font-size: var(--ice-cafe-oswald-semibold-18-size);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container508 {
  width: 1500px;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container507,
.container565 {
  align-self: stretch;
  justify-content: flex-start;
}
.container507 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-191xl);
  font-size: var(--ice-cafe-play-regular-16-size);
}
.container565 {
  max-width: 1157.9200439453125px;
}
.container565,
.container570,
.link48,
.linkmargin5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link48 {
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-mid);
}
.container570,
.linkmargin5 {
  justify-content: flex-start;
}
.linkmargin5 {
  padding: 0 0 var(--padding-11xl);
}
.container570 {
  align-self: stretch;
  flex: 1;
  max-width: 335px;
}
.div180 {
  position: relative;
  text-transform: lowercase;
}
.container568,
.container571,
.link49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link49 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.container568,
.container571 {
  flex-direction: column;
}
.container571 {
  align-self: stretch;
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-montserrat-alternates-regular-16-lower);
}
.container568 {
  width: 100%;
  gap: var(--gap-xl);
  max-width: 375px;
}
.container567 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container567,
.container574,
.link51 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link51 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--ice-cafe-oswald-semibold-18-size);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container574 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-40xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container584,
.container585 {
  align-self: stretch;
  width: 156px;
}
.container585 {
  width: 272px;
}
.container583,
.link54 {
  align-self: stretch;
  justify-content: flex-start;
}
.container583 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--ice-cafe-oswald-semibold-18-size);
}
.link54 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--ice-cafe-play-bold-20-size);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.container563,
.container566,
.link54 {
  display: flex;
  align-items: flex-start;
}
.container566 {
  align-self: stretch;
  height: 168px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--ice-cafe-play-regular-16);
}
.container563 {
  width: 1500px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1500px;
}
.container595 {
  align-self: stretch;
  flex: 1;
  max-width: 429.9700012207031px;
}
.container592,
.container593 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container593 {
  width: 100%;
  padding: var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 150px;
  max-width: 499.9700012207031px;
}
.container592 {
  align-self: stretch;
  flex: 1;
  max-width: 1500px;
}
.ice-cafe-company3 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.container591 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs-1) 0 0;
}
.background22,
.background23 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
}
.background23 {
  width: 1500px;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/background7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1500px;
  font-size: var(--font-size-mid);
  color: var(--ice-cafe-black-60);
  font-family: var(--ice-cafe-play-regular-16);
}
.background22 {
  width: 1920px;
  background-color: var(--color-whitesmoke);
  height: 544px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-52xl);
  box-sizing: border-box;
}
.background17,
.contacty3,
.container561,
.container562 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container562 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-91xl);
}
.background17,
.contacty3,
.container561 {
  align-items: flex-start;
}
.container561 {
  align-self: stretch;
  font-size: var(--font-size-115xl-4);
  font-family: var(--font-montserrat);
}
.background17,
.contacty3 {
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
}
.background17 {
  align-self: stretch;
  background-image: url(./public/background8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1200px;
}
.contacty3 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  text-align: left;
  font-size: var(--ice-cafe-play-bold-20-size);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-play-regular-16);
}
