.container413,
.svgexport-7-7svg-icon2 {
  width: 70px;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.svgexport-7-7svg-icon2 {
  position: relative;
}
.container413 {
  border-radius: var(--br-231xl);
  flex-direction: column;
  justify-content: center;
}
.cofe2,
.container413,
.link22 {
  display: flex;
  align-items: flex-start;
}
.link22 {
  height: 70px;
  flex-direction: row;
  justify-content: flex-start;
}
.cofe2 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
}
.ice-cafe3 {
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.container415,
.container416 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.container416 {
  flex-direction: column;
  justify-content: flex-start;
  max-width: 103.91000366210938px;
}
.container415 {
  flex-direction: row;
  justify-content: center;
}
.link23 {
  flex-direction: row;
  justify-content: flex-start;
}
.container412,
.container414,
.link23 {
  display: flex;
  align-items: flex-start;
}
.container414 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xl-5) 0;
}
.container412 {
  flex-direction: row;
  justify-content: flex-start;
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.div138 {
  position: relative;
}
.home8,
.item14 {
  display: flex;
  justify-content: flex-start;
}
.home8 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xl);
}
.item14 {
  flex-direction: column;
  align-items: flex-start;
}
.container419 {
  width: 95px;
  height: 19px;
}
.container420 {
  width: 70px;
  height: 19px;
}
.list2 {
  height: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.container417,
.container418,
.margin77 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container417,
.margin77 {
  align-items: center;
  justify-content: flex-start;
}
.margin77 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xl);
  font-size: var(--ice-cafe-play-regular-16-size);
  color: var(--ice-cafe-black-70);
}
.container421 {
  width: 194px;
  height: 56px;
}
.margin78 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
}
.b5 {
  position: relative;
  text-transform: uppercase;
}
.zakazat4,
.zakazat5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.zakazat5 {
  align-self: stretch;
  flex-direction: column;
}
.zakazat4 {
  border-radius: var(--br-231xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-13xl);
}
.container411,
.div143 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div143 {
  justify-content: center;
  font-size: var(--ice-cafe-play-bold-15-upper-size);
  color: var(--ice-cafe-nero);
}
.container411 {
  align-self: stretch;
  justify-content: space-between;
}
.container409,
.container410 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.container410 {
  width: 1500px;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  max-width: 1500px;
}
.container409 {
  width: 1275px;
  align-items: center;
  padding: 0 var(--padding-191xl);
  color: var(--ice-cafe-cod-gray);
}
.div145 {
  position: relative;
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.margin79,
.paragraph1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph1 {
  flex-direction: row;
  padding: 0 1270px 0 var(--padding-10xs);
  gap: var(--gap-7xs);
}
.margin79 {
  flex-direction: column;
  padding: 0 0 var(--padding-61xl);
}
.div146 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.heading-1margin1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-31xl);
  text-align: center;
  font-size: var(--ice-cafe-russo-one-regular-96-upper-size);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.p25 {
  margin: 0;
}
.div147 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.margin81 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
}
.container-icon46,
.container430 {
  height: 80px;
  overflow: hidden;
  flex-shrink: 0;
}
.container-icon46 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  object-fit: cover;
}
.container430 {
  width: 80px;
  border-radius: var(--br-21xl);
  max-width: 140px;
  max-height: 140px;
}
.container430,
.margin83,
.margin84 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.margin83 {
  width: 92px;
  height: 92px;
  padding: 0 var(--padding-xs) var(--padding-xs) 0;
  box-sizing: border-box;
  max-width: 152px;
  max-height: 152px;
}
.margin84 {
  padding: 0 0 var(--padding-xs);
}
.container429 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container427,
.container429,
.margin82 {
  justify-content: flex-start;
}
.margin82 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.container427 {
  height: 248px;
}
.container427,
.container432,
.margin80 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.margin80 {
  width: 494.7px;
  justify-content: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.container432 {
  height: 236px;
  justify-content: flex-start;
}
.ket {
  position: relative;
  line-height: 19.2px;
}
.container426 {
  width: 1484px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.div152 {
  position: relative;
  line-height: 18px;
}
.link28 {
  border-radius: var(--br-7xs);
  background-color: var(--ice-cafe-cornflower-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15.5px var(--padding-13xl) 16.5px;
  box-sizing: border-box;
  min-height: 50.00400161743164px;
  cursor: pointer;
}
.container442 {
  width: 1472px;
  align-items: flex-start;
  padding: var(--padding-3xs) 1266.2px 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--ice-cafe-oswald-semibold-18-size);
  color: var(--ice-cafe-nero);
}
.container423,
.container424,
.container425,
.container442 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container425 {
  align-self: stretch;
  align-items: center;
  gap: 23px;
}
.container423,
.container424 {
  align-items: flex-start;
}
.container424 {
  align-self: stretch;
  padding: var(--padding-13xl) 0 var(--padding-77xl);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container423 {
  width: 1500px;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.container422,
.container447 {
  align-self: stretch;
  justify-content: flex-start;
}
.container422 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-191xl);
  font-size: var(--ice-cafe-play-regular-16-size);
}
.container447 {
  max-width: 1157.9200439453125px;
}
.container447,
.container452,
.link29,
.linkmargin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link29 {
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-mid);
}
.container452,
.linkmargin {
  justify-content: flex-start;
}
.linkmargin {
  padding: 0 0 var(--padding-11xl);
}
.container452 {
  align-self: stretch;
  flex: 1;
  max-width: 335px;
}
.div154 {
  position: relative;
  text-transform: lowercase;
}
.link30 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.container453 {
  align-self: stretch;
  color: var(--quantifiable-mosquitostaticdomains-black);
  font-family: var(--ice-cafe-montserrat-alternates-regular-16-lower);
}
.container449,
.container450,
.container453 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container450 {
  width: 100%;
  gap: var(--gap-xl);
  max-width: 375px;
}
.container449 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.div156 {
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-height: 30.010000228881836px;
}
.container456,
.link32 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link32 {
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--ice-cafe-oswald-semibold-18-size);
  color: var(--quantifiable-mosquitostaticdomains-black);
}
.container456 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-40xl);
  box-sizing: border-box;
  max-width: 1500px;
}
.draqanovazina1984gmailcom2 {
  position: relative;
  text-decoration: underline;
  line-height: 30px;
  color: inherit;
  display: inline-block;
  max-height: 30.010000228881836px;
}
.container466,
.container467 {
  align-self: stretch;
  width: 156px;
}
.container467 {
  width: 272px;
}
.container465 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--ice-cafe-oswald-semibold-18-size);
}
.div157 {
  position: relative;
  line-height: 24px;
}
.link35 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--ice-cafe-play-bold-20-size);
  font-family: var(--ice-cafe-russo-one-regular-22);
}
.container445,
.container448,
.link35 {
  display: flex;
  align-items: flex-start;
}
.container448 {
  align-self: stretch;
  height: 168px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--ice-cafe-play-regular-16-size);
  font-family: var(--ice-cafe-play-regular-16);
}
.container445 {
  width: 1500px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 1500px;
}
.container477 {
  align-self: stretch;
  flex: 1;
  max-width: 429.9700012207031px;
}
.container474,
.container475 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.container475 {
  width: 100%;
  padding: var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  min-width: 150px;
  max-width: 499.9700012207031px;
}
.container474 {
  align-self: stretch;
  flex: 1;
  max-width: 1500px;
}
.ice-cafe-company2 {
  align-self: stretch;
  position: relative;
  line-height: 25px;
}
.container473 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-12xs-1) 0 0;
}
.background15,
.background16 {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
}
.background16 {
  width: 1500px;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/background10@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1500px;
  font-size: var(--font-size-mid);
  color: var(--ice-cafe-black-60);
  font-family: var(--ice-cafe-play-regular-16);
}
.background15 {
  width: 1920px;
  background-color: var(--color-whitesmoke);
  height: 544px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-52xl);
  box-sizing: border-box;
}
.background14,
.container443,
.container444,
.otzivi3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container444 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-91xl);
}
.background14,
.container443,
.otzivi3 {
  align-items: flex-start;
}
.container443 {
  align-self: stretch;
  font-size: var(--font-size-115xl-4);
  font-family: var(--font-montserrat);
}
.background14,
.otzivi3 {
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
}
.background14 {
  align-self: stretch;
  background-image: url(./public/background11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 1200px;
}
.otzivi3 {
  width: 100%;
  position: relative;
  background: linear-gradient(#fff, #fff), #fff;
  overflow-y: auto;
  text-align: left;
  font-size: var(--ice-cafe-play-bold-20-size);
  color: var(--color-royalblue);
  font-family: var(--ice-cafe-play-regular-16);
}
